@import '../../../styles/globalscss.less';
#manage-mian-bread-crumb {
  width: 100%;
  position: relative;
  line-height:50px;
  .bread-crumb-list {
    display: inline-block;
    height: 50px;
    align-items: center;
    padding: 0 @leftSpace;
    .ivu-icon-md-star-outline {
      display: inline-block;
      &:before {
        font-size: 20px;
        line-height: 12px;
      }
    }
    .ivu-breadcrumb {
      display: inline-block;
    }
  }
  .ivu-divider-horizontal {
    margin: 0;
  }
  .bread-crumb-button-list {
    display: inline-block;
    position: absolute;
    right: @leftSpace;
  }
}
